{
    "useTabs": false,
    "printWidth": 140,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "es5",
    "semi": true,
    "rcVerbose": true,
    "editor.formatOnSave": true,
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "", "^~(.*)$", "", "^[.]"]
  }