name: Publish package
on:
  push:
    tags:
      - '*'

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@jakobgoerke'

      - run: corepack enable
      - run: yarn install --immutable
      - run: yarn test
      - run: yarn build
      - run: yarn npm publish --access public
